.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}

.acordeon .content {
    display: none;
}