.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acordeon .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content
}

.acordeon .content {
    display: none;
}