* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/NeueMachina-Regular.otf');
}

body {
    background-color: #000;
    color: #fff;
}

.main {
    margin: .5;
    padding: 1rem;
}